<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/ico" href="img/logo.ico">
    <title>Boolzapp</title>
</head>
<body>
    <div class="bg-top"></div>
    <div class="bg-bottom"></div>

    <div id="app" class="container">

        <header>
            <div class="top-left">
                <div class="img-user">
                    <img src="img/avatar-1.jpg" alt="">
                </div>
                <div class="top-left-logos">
                    <i class="fa-regular fa-circle"></i>
                    <i class="fa-regular fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                
            </div>
            <div class="top-right">
                <div class="interlocutor" v-for="(user, index) in contacts" :class="isActive(index)">
                    <div class="img-user">
                        <img :src="user.avatar" alt="">
                    </div>
                    <div class="name-interlocutor">
                        <span>{{user.name}}</span>
                        <span class="status">online</span>
                    </div>

                </div>
                <div class="top-right-logos">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>                
            </div>
        </header>

        <main>
            <!--Sezione colonna utenti a sinistra-->
            <section class="left-column">
                <div class="users-column">

                    <!--Sezione attiva e disattiva notifiche-->
                    <div class="disable-notifications">
                        <div class="no-notifications">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="no-notif-txt">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <span>Attiva notifiche desktop <i class="fa-solid fa-chevron-right"></i></span>
                        </div>
                    </div>

                    <!--Sezione ricerca contatti-->
                    <div class="search-users">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="input-user" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <!--Sezione elenco chat utenti-->
                    <section >
                        <div class="users-chats" v-for="(users, index) in contacts" @click="userActive = index">
                            <div class="img-user">
                                <img :src="[users.avatar]" alt="">
                            </div>
                            <div class="chat-data">
                                <div class="name-interlocutor">
                                    <div class="user-date">
                                        <span>{{users.name}}</span>
                                        <span>18/01/2022 11:56:27</span>
                                    </div>                                    
                                    <span class="interlocutor-mess">online</span>
                                </div>
                            </div>
                            
                        </div>
                    </section>
                </div>
            </section>
            
            <!--Sezione chat con un determinato utente-->
            
                <!--<div class="chat">
                    <div class="mess-received clearfix">
                        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi dolores dolor obcaecati debitis nihil deserunt explicabo suscipit, id sunt, aliquam atque dolore quasi quam commodi molestias eos? Doloribus, veritatis debitis? Repellendus officia veniam necessitatibus hic enim reprehenderit quas, vel vitae atque. Itaque quaerat laborum explicabo quo consequatur ut possimus aspernatur?</span>
                        <span>s</span>
                    </div>
                    <div class="mess-sent clearfix">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, expedita?</span>
                    </div>
                </div>-->
            

            <!--Sezione per inviare un nuovo messaggio-->
            <section class="right-column">
                <div class="chat">
                    <div class="clearfix" v-for="(message, index) in contacts[userActive].messages" :class="statusMessage(message)">
                        <span class="chat-message">{{message.text}} <span>{{message.date}}</span></span>
                        
                        <!--<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi dolores dolor obcaecati debitis nihil deserunt explicabo suscipit, id sunt, aliquam atque dolore quasi quam commodi molestias eos? Doloribus, veritatis debitis? Repellendus officia veniam necessitatibus hic enim reprehenderit quas, vel vitae atque. Itaque quaerat laborum explicabo quo consequatur ut possimus aspernatur?</span>
                        <span>s</span>-->
                    </div>
                <!--<div class="mess-sent clearfix">
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, expedita?</span>
                    </div>-->
                </div>

                <div class="new-message clearfix">
                    <div class="emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="input-msg">
                        <input type="text" v-model="newMessage"  @keyup.enter="sendMessage(newMessage)" placeholder="Scrivi un nuovo messaggio">
                    </div>
                    <div class="audio">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </section>
            
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>