@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    display: inline-block;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

.bg-top{
    width: 100vw;
    height: 15%;
    background-color: #048c7e;
}

.bg-bottom{
    width: 100vw;
    height: 85%;
    background-color: #d4d6d2;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    background-color: #e8e7e9;
}

header{
    display: flex;
    justify-content: center;
}

.top-left{
    width: 30%;
    height: 80px;
    background-color: #e8e7e9;
    border-right: 1px solid #a8a8a8;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left-logos, .top-right-logos{
    margin-right: 10px;    
    display: flex;
    justify-content: space-around;
}

.top-left-logos, .top-right-logos, .emoji, .audio,
.mess-sent span:last-child, .mess-received span:last-child{
    color: #838383;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
  }

/*Parte header a sinistra*/
.top-left-logos{
    width: 40%;
}

.img-user{
    height: 55px;   
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.img-user img{
    height: 100%;
    border-radius: 50%;
}

.img-user span{
    margin-left: 5px;
    font-size: 17px;
    font-weight: bold;
}
/* FINE parte header a sinistra*/

/*Parte header a destra*/
.top-right{
    width: 70%;
    height: 80px;
    background-color: #e8e7e9;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-right-logos{
    width: 20%;
}

.interlocutor{
    width: 40%;
    display: flex;
    justify-content: start;
}

.name-interlocutor{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.status{
    font-size: 18px;
}

.active{
    display: block;
}

.not-active{
    display: none;
}
/* FINE parte header a destra*/

main{
    height: 80vh;
    display: flex;
    justify-content: center;
}
/*Sezione colonna utenti a sinistra*/
.left-column{
    width: 30%;
    height: 100%;
    overflow: hidden;
    overflow: scroll;
    border-right: 1px solid #a8a8a8;
}

.users-column{
    float: left;
    width: 100%;
    max-height: 760px;
}

/*Inizio sezione attiva e disattiva notifiche*/
.disable-notifications{
    height: 80px;
    background-color: #84d3fc;
    display: flex;
    align-items: center;
    justify-content: start;
}

.no-notifications{
    height: 55px;
    width: 55px;    
    margin-left: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #84d3fc;
    font-size: 20px;
}

.no-notif-txt{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.no-notif-txt span:first-child{
    font-size: 18px;
}

.no-notif-txt span:last-child{
    font-size: 15px;
    margin-top: 5px;
}

.no-notif-txt span:last-child i{
    font-size: 11px;
}
/*Fine sezione attiva e disattiva notifiche*/

/*Inizio Sezione ricerca contatti*/
.search-users{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.search-users, .search-users span{
    background-color: #fff;
}

.search-users span{
    padding: 5px;
    border-left: 2px solid rgb(133, 133, 133);    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-user, .search-users span{
    border-top: 2px solid rgb(133, 133, 133);
    border-bottom: 2px solid rgb(133, 133, 133);
}

.input-user{
    width: 80%;
    height: 34px;
    padding: 6px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid rgb(133, 133, 133);
}
/*Fine Sezione ricerca contatti*/

/*Inizio Sezione elenco chat utenti*/
.users-column{
    width: 100%;
    overflow: hidden;  
    overflow: scroll;
}

.users-column::-webkit-scrollbar, .left-column::-webkit-scrollbar{
    display: none;
}

.users-chats{
    padding: 10px 0 10px;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #a8a8a8;
}

.users-chats:hover{
    background-color: #b1b1b1;
}

.chat-data{
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.user-date{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-date span:first-child{
    font-weight: bold;
    font-size: 20px;
}

.user-date span:last-child{
    font-size: 12px;
    color: grey;
}

.interlocutor-mess{
    margin-top: 5px;
    font-size: 14px;
}
/*Fine Sezione elenco chat utenti*/



/*Inizio Sezione chat con un determinato utente*/
.right-column{
    width: 70%;
    height: 100%;
}

.chat{
    float: right;
    padding: 20px 15px 20px 15px;
    height: calc(100% - 80px + 27px);
    width: 100%;
    background-image: url(img/bg-chat.jpg);
    background-size: cover; 
    overflow: hidden;  
    overflow: scroll; 
}

.chat::-webkit-scrollbar{
    display: none;
}

.mess-received, .mess-sent{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;    
    min-width: 250px;
    max-width: 380px;  
    display: block;
}

.mess-received{
    float: left; 
    margin-left: 20px;  
    background-color: #fff;  
}

.mess-sent{
    float: right;
    margin-right: 20px;    
    background-color: #cef1bb;
}

.chat-message{
    word-break: break-all;
    float: left;
}

.chat-message span{
    font-size: 12px;
    display: block;        
}

.mess-received span{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;    
}

.mess-sent span:first-child{
    float: left;   
}

.mess-sent span:last-child{
    float: right;    
}

.mess-sent span:last-child, .mess-received span:last-child{
    font-size: 13px;
}

.new-message{
    height: 53px;
    width: 100%;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.emoji, .audio{
    font-size: 25px;
}

.input-msg{
    height: 40px;
    width: 85%;
}

.input-msg input{
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    height: 100%;
}