@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    display: inline-block;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-top{
    width: 100vw;
    height: 15%;
    background-color: #048c7e;
}

.bg-bottom{
    width: 100vw;
    height: 85%;
    background-color: #d4d6d2;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    height: 90%;
    background-color: #e8e7e9;
}

header{
    display: flex;
    justify-content: center;
}

.top-left{
    width: 30%;
    height: 80px;
    background-color: #e8e7e9;
    border-right: 1px solid #a8a8a8;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left-logos, .top-right-logos{
    margin-right: 10px;    
    display: flex;
    justify-content: space-around;
    color: #a9a8aa;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
  }

/*Parte header a sinistra*/
.top-left-logos{
    width: 40%;
}

.img-user{
    height: 55px;
    width: 55px;    
    margin-left: 20px;
}

.img-user img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
/* FINE parte header a sinistra*/

/*Parte header a destra*/
.top-right{
    width: 70%;
    height: 80px;
    background-color: #e8e7e9;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-right-logos{
    width: 20%;
}

.interlocutor{
    width: 40%;
    display: flex;
    justify-content: start;
}

.name-interlocutor{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.status{
    font-size: 18px;
}
/* FINE parte header a destra*/

main{
    height: 763px;
    display: flex;
    justify-content: center;
}
/*Sezione colonna utenti a sinistra*/
.users-column{
    float: left;
    /*width: 30%;*/
    max-height: 760px;
}

/*Inizio sezione attiva e disattiva notifiche*/
.disable-notifications{
    height: 80px;
    background-color: #84d3fc;
    display: flex;
    align-items: center;
    justify-content: start;
}

.no-notifications{
    height: 55px;
    width: 55px;    
    margin-left: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #84d3fc;
    font-size: 20px;
}

.no-notif-txt{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.no-notif-txt span:first-child{
    font-size: 18px;
}

.no-notif-txt span:last-child{
    font-size: 15px;
    margin-top: 5px;
}

.no-notif-txt span:last-child i{
    font-size: 11px;
}
/*Fine sezione attiva e disattiva notifiche*/

/*Inizio Sezione ricerca contatti*/
.search-users{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.search-users, .search-users span{
    background-color: #fff;
}

.search-users span{
    padding: 5px;
    border-left: 2px solid rgb(133, 133, 133);    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-user, .search-users span{
    border-top: 2px solid rgb(133, 133, 133);
    border-bottom: 2px solid rgb(133, 133, 133);
}

.input-user{
    width: 60%;
    height: 34px;
    padding: 6px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid rgb(133, 133, 133);
}
/*Fine Sezione ricerca contatti*/

/*Inizio Sezione elenco chat utenti*/
.users-chats{
    padding: 10px 0 10px;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #a8a8a8;
}

.chat-data{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.user-date{
    width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-date span:first-child{
    font-weight: bold;
    font-size: 20px;
}

.user-date span:last-child{
    font-size: 13px;
    color: grey;
}

.interlocutor-mess{
    font-size: 14px;
}
/*Fine Sezione elenco chat utenti*/

/*Inizio Sezione chat con un determinato utente*/
.chat{
    float: right;
    padding: 10px;
    max-height: 711px;
    width: 70%;
    background-image: url(img/bg-chat.jpg);
    background-size: contain;
    
}

.mess-received{
    float: left;        
}

.mess-sent{
    float: right;
}

.mess-received span, .mess-sent span{
    padding: 10px;
    margin-top: 10px;
    display: block;
    max-width: 400px;    
    border: 1px solid #a8a8a8;
    border-radius: 10px;
}

.mess-received span{
    background-color: #fff;
}

.mess-sent span{
    background-color: #cef1bb;
}